<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <welcome-file-list>
        <welcome-file>events</welcome-file>
    </welcome-file-list>

    <context-param>
        <param-name>ImgServerRepo</param-name>
        <param-value>d:\EPAM\testWeb\target\epamLabWeb\resourses\img\</param-value>
    </context-param>
    
    <session-config>
        <session-timeout>15</session-timeout>
    </session-config>

    <error-page>
        <error-code>404</error-code>
        <location>/error</location>
    </error-page>

    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/error</location>
    </error-page>
    
</web-app>